<!DOCTYPE html>
<head>
<title>Todo App</title>
  <%- include('common_head.ejs') %>
</head>

<body>
<div class="todo-container">
<h2>To-Do List</h2>
<div class="todo">

<form action="/" method="POST" class="todo-header">
  <input type="text" name="title">
  <button type="submit"><span class="fas fa-plus"></span></button>
  <div class="recurring-task-container">
    <div class="recurring-task-checkbox-container">
      <label for="recurring-task-checkbox">Recurring Task?</label>
      <input type="checkbox" id="recurring-task-checkbox" name="recurring-task-checkbox" value="true">
    </div>
    <div class="recurring-task-options-container">
      <label for="frequency" id="frequencyLabel">Frequency</label>
      <select name="frequency" id="frequency">
        <option value="daily">Daily</option>
        <option value="weekly">Weekly</option>
        <option value="monthly">Monthly</option>
        <option value="yearly">Yearly</option>
      </select>
      <label for="interval">Interval</label>
      <input type="number" id="interval" name="interval" min="1" value="1">
      <label for="startBy">Start Date</label>
      <input type="date" id="startBy" name="startBy">
      <label for="endBy">End Date</label>
      <input type="date" id="endBy" name="endBy">
    </div>
  </div>
</form>

<ul class="todo-list">
  <% todoTasks.forEach(details => { %>
  <li class="todo-list-item">
  <div class="todo-list-item-name"><%= details.title %></div>
  <div class="todo-list-item-date"><%= details.date.toISOString().split('T')[0] %></div>
  <a href="/edit/<%= details._id %>" class="edit">
  <span class="fas fa-edit"></span>
  </a>
  <a href="/remove/<%= details._id %>" class="remove">
  <span class="fas fa-times"></span>
  </a>
  </li>
  <% }) %>
</ul>

</div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    let checkbox = document.getElementById('recurring-task-checkbox');
    let recurringTaskOptions = document.querySelector('.recurring-task-options-container');

    checkbox.addEventListener('change', () => {
      if (checkbox.checked) {
        recurringTaskOptions.style.display = 'flex';
      }
      else {
        recurringTaskOptions.style.display = 'none';
      }
    });
  })
</script>

</body>